@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body {
  background-color: #f8f8f8;
  overflow: hidden;
}

.img-home {
  width: 580px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
}

.main {
  margin-top: 80px;
  margin-left: 30px;
}

.main label {
  color: rgb(109, 131, 242);
}

.login-form {
  width: 480px;
  height: 450px;
  border: solid 2px transparent;
  border-radius: 2px;
}

.main form {
  
}

.main form input {
  width: 300px;
  height: 40px;
  border: solid 2px rgb(109, 131, 242);
  padding: 0 12px;
  border-radius: 4px;
  font-size: 1.2em;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: rgb(109, 131, 242);
}

.main form input:focus {
  border: solid 2px rgba(0, 0, 0, 0) linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%) repeat scroll 0% 0%;
}

.main form button {
  height: 50px;
  outline: none;
  background-color: #6A98F0;
  color: #FFF;
  border: solid 2px transparent;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.main form button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.catalog-titulo{
  position: absolute;
  top: 6%;
  left: 8%;
  color: #6A98F0;
}

.login-titulo2{
  position: absolute;
  top: 28%;
  left: 74.5%;
  font-size: 20px;
  font-weight: bold;
}

.mat-lbl{
  position: absolute;
  top: 39%;
  left: 64%;
  width: 500px;
}

.mat-field{
  position: absolute;
  top: 37%;
  left: 72%;
  width: 500px;
}

.password-lbl{
  position: absolute;
  top: 48%;
  left: 67%;
}
.password-field{
  position: absolute;
  top: 46%;
  left: 72%;
}

.login-btn{
  position: absolute;
  top: 57%;
  left: 78%;
  width: 10%;
}

.cad-link{
  position: absolute;
  top: 70%;
  left: 82%;
  color: rgb(109, 131, 242);
  cursor: pointer;
  text-decoration: none;
}

.cad-text{
  position: absolute;
  top: 70%;
  left: 80%;
}

.cad-titulo{
  position: absolute;
  top: 10%;
  left: 10%;
  color: rgb(109, 131, 242);
}

.editar-titulo{
  position: absolute;
  top: 10%;
  left: 41%;
  color: rgb(109, 131, 242);
}

.user-field-cad{
  position: absolute;
  top: 25%;
  left: 10%;
}

.mat-field-cad{
  position: absolute;
  top: 25%;
  left: 35%;
}

.email-field{
  position: absolute;
  top: 40%;
  left: 10%;
}

.bairro-field{
  position: absolute;
  top: 55%;
  left: 10%;
}

.estado-field{
  position: absolute;
  top: 55%;
  left: 35%;
}

.rua-field{
  position: absolute;
  top: 70%;
  left: 10%;
}

.senha-field{
  position: absolute;
  top: 70%;
  left: 35%;
}

.cidade-field{
  position: absolute;
  top: 40%;
  left: 35%;
}

.cad-btn{
  position: absolute;
  top: 80%;
  left: 48%;
  width: 10%;
}

.editar-btn{
  position: absolute;
  top: 50%;
  left: 44.5%;
  width: 10%;
}

ul{
  z-index: 1;
}

ul li{
  margin: 130px;
  padding: 10px;
  width: 650px;
  height: 180px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.info-btn{
  position: absolute;
  top: 6%;
  left: 75%;
  padding: 5px;
  color: rgb(109, 131, 242);
  background-color: #EAEDED;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
}

.logout-btn{
  position: absolute;
  top: 90%;
  left: 90%;
  padding: 5px;
  color: #fff;
  background-color: rgb(109, 131, 242);
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
}

ul button{
  position: relative;
  top: 15px;
  left: 0px;
  padding: 5px;
  outline: none;
  
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.edit-btn{
  background-color: rgb(109, 131, 242);
  color: #FFF;
  border: none;
}

.delete-btn{
  background-color: #C20000;
  color: #FFF;
  border: none;
}

.endereco-titulo{
  position: relative;
  top: -64%;
  left: 40%;
}
